language: java
jdk: oraclejdk8

cache:
  directories:
  - $HOME/.m2

deploy:
  # Travis will only attempt a deployment for master branch
  on:
    branch: master
  provider: s3
  # Below 3 values are configured as environmental variables in Travis web console
  access_key_id: $ARTIFACTS_KEY
  secret_access_key: $ARTIFACTS_SECRET
  bucket: $ARTIFACTS_BUCKET
  # Prevent Travis from deleting build directory
  skip_cleanup: true
  acl: public_read
  # Path to build artifacts
  local_dir: $HOME/.m2/repository/edu/usf/cutr/
  upload_dir: travis_builds
  # Set the Cache-Control header.
  cache_control: "max-age=21600"