.main-container {
    background-color: #ffffff;
}

.navbar-fixed-top {
    min-height: 70px;
}

.content-well {
    padding-top: 0;
}

.content-well hr {
    margin: 0 0 10px 0;
}

.progress {
    height: 15px;
}

.badge {
    background: red;
}

.info-text {
    color: darkred;
    font-size: large;
}

/*bootstrap-checkbox BEGIN*/
.bootstrap-checkbox {
    display:inline-block;
    position:relative;
    width:13px;
    height:13px;
    border:1px solid #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bootstrap-checkbox i{
    position:absolute;
    left : -1px;
    top : -2px;
}


/*bootstrap-checkbox END*/
.panel-heading a:hover{
    text-decoration: none !important;
}
.panel-heading a:after {
    font-family: 'Glyphicons Halflings', sans-serif;
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.highlight {
    background-color: #FFFF88;
}

#feed-display {
    position: relative;
    height: 105vh;
    overflow: auto;
    outline: 2px solid rgb(229, 229, 229);
}

#feedMessage{
    border-radius: 0px;
}

.feed-padding {
    padding-top: 80px;
}

#copy-clipboard {
    cursor: pointer;
    position: absolute;
    font-size: 3em;
    /* right and bottom are relative to the parent element #feed-display*/
    right: 7vh;
    bottom: 3vh;
}

.iteration-issues {
    position: relative;
    padding-top: 20px;
    height: 100vh;
    overflow: auto;
}

.modal-title {
    text-align: center;
}

.feed-padding .content-well {
    margin: 0;
    padding-top: 10px;
}

.each-card {
    background-color: #ffffff;
}

.iterations-thead {
	background-color: rgba(85, 85, 85, 0.62);
}

.iterations-td {
	background-color: rgba(85, 85, 85, 0.11);
}

.feed-page-loader, .issues-page-loader {
    background-color: #fffff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.download-button {
    cursor: pointer;
    font-size: 1.2em;
}

.download-button:hover {
    color: #0027ff;
}

::-ms-clear {
  display: none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}