<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://cutr-db2.forest.usf.edu:1433;databaseName=gtfs-realtime-validator</property>
    <property name="hibernate.c3p0.min_size">1</property>
    <property name="hibernate.c3p0.max_size">1</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.connection.username"usergoeshere</property>
    <property name="hibernate.connection.password">passwordgoeshere</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="show_sql">true</property>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.GtfsFeedIterationModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.GtfsFeedModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.GtfsRtFeedIterationModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.GtfsRtFeedModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.MessageLogModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.OccurrenceModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.SessionModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ValidationRule"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewErrorSummaryModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewErrorLogModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewGtfsErrorCountModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewFeedIterationsCount"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewFeedUniqueResponseCount"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewFeedMessageModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewGtfsRtFeedErrorCountModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewMessageDetailsModel"/>
    <mapping class="edu.usf.cutr.gtfsrtvalidator.lib.model.ViewIterationErrorsModel"/>
  </session-factory>
</hibernate-configuration>
